html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video , input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

//--------
@import "ForecastToday";
@import "SearchArea";
@import "SunSetAndRise";
@import "ToDayData";
@import "PastArea";
@import "TempInfo";
@import "Header";
@import "NotFound";
@import "Spinner";
@import "Responsiv";



@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


@mixin Flex($JustifyContent : center , $AlignItem : center , $Direction){
  display: flex;
  justify-content: $JustifyContent;
  align-items: $AlignItem;
  flex-direction:$Direction ;
}

@mixin NeumorphismBody(){
  background: linear-gradient(170deg, #cccccc, #f3f3f3);
  box-shadow:  5px 5px 25px #cccccc,
  -5px -5px 25px #fafafa;
}

@mixin NeumorphismIcon(){
  background: linear-gradient(145deg, #ffffff, #f3f3f3);
  box-shadow:  5px 5px 15px #c3c3c3,
  -5px -5px 15px #ffffff;
}

@mixin Centerin{
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background: #e3e3e3;
}


.ParentWeather{
  @include Centerin;
  @include NeumorphismBody;
  width: 21rem;
  height: 40rem;
  overflow: hidden;
  border-radius: 15px;
}

.BodyWeatherApp{
  @include NeumorphismBody;
  @include Centerin;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: none;
  transition: .5s;
  overflow: hidden;
}



