@mixin NeumorphismBody(){
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.38);
}
@mixin Centerin{
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
@mixin Flex($JustifyContent : center , $AlignItem : center , $Direction){
  display: flex;
  justify-content: $JustifyContent;
  align-items: $AlignItem;
  flex-direction:$Direction ;
}


.NotFound{
  @include NeumorphismBody;
  @include Centerin;
  width: 23rem;
  height: 40rem;
  position: absolute;
  transition: .5s;
  overflow: hidden;
  border-radius: 15px;

  .Image404{
    @include Flex(center , center , center);
    width: 100%;
    height: auto;
    margin-top: 6rem ;

    img{
      width: 95%;
      height: 262px;
      transform: scale(1.3);

    }
  }

  .Text404{
    @include Flex(center , center , column);
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }
  p{
    color: #b0c3a4;
    text-align: center;
    font: {
      size: 18px;
    };
    margin: .5rem 0;
  }

  b{
    color: #f8987a;
    font: {
      weight: 600;
      size: 25px;
    };
  }

  button{
    @include Flex(center , center , row);
    width: 40px;
    height: 40px;
    margin-top: .8rem;
    background: white;
    border: 2px solid #b0c3a4;
    outline: none;
    border-radius: 100%;
    cursor: pointer;
    img{
      width: 25px;
      height: 25px;
      border-radius: 100%;
    }
  }
}