@mixin Flex($JustifyContent : center , $AlignItem : center , $Direction){
  display: flex;
  justify-content: $JustifyContent;
  align-items: $AlignItem;
  flex-direction:$Direction ;
}

@mixin NeumorphismBody(){
  background: linear-gradient(170deg, #cccccc, #f3f3f3);
  box-shadow:  5px 5px 25px #cccccc,
  -5px -5px 25px #fafafa;
}

@mixin NeumorphismIcon(){
  background: linear-gradient(145deg, #ffffff, #f3f3f3);
  box-shadow:  5px 5px 15px #c3c3c3,
  -5px -5px 15px #ffffff;
}

@mixin Centerin{
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

@media screen and (min-width: 320px) and (max-width: 480px){

  .ParentWeather{
    @include Centerin;
    @include NeumorphismBody;
    width: 100% !important;
    height: 100%!important;
    overflow: hidden;
  }

  //--------

  .BodyWeatherApp{
    @include NeumorphismBody;
    @include Centerin;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    box-shadow: none;
    transition: .5s;
    overflow: hidden;

  }

  .TempInfo{
    width: 100%;
    height: 19rem;
    margin: auto;
    background: #cbe3a8;
    transition: 3s;
    clip-path: circle(79.7% at 50% 3%)!important;
    @include Flex(center , center , row);

    .IconeTemp{
      width: 90%;
      height: auto;
      margin-top: 1%;
      //background: #d6d6f6;
      @include Flex(space-around , center , row);

      .Icone {
        @include Flex(center , center , row);
        img{
          transform: scale(1.5);
        }
      }

      .Info{
        :nth-child(1){
          font: {
            size: 45px;
          };
        }

        :nth-child(2){
          font: {
            size: 20px;
          };
        }
      }
    }
  }


  .ToDayData {
    width: 100%;
    height: auto;
    margin: auto;
    //background: gold;
    transform: translateY(-30px)!important;
    @include Flex(space-around, center, row);
  }

  .SunPosition{
    @include Flex(space-around , center , row) ;
    width: 100%;
    height: auto;
    transform: translateY(5px) !important;}

  .SearchAlert {
    width: 100%;
    height: 100% !important;

    .Close{

      transform: translate(170px , 0px);

    }
  }

  .BodyForecast{
    @include Centerin;

    width: 100% !important;
    height: 100% !important;
    position: absolute;
    text-align: center;
    transition: .5s;
    overflow : {
      x : hidden;
      y: scroll;
    }
  }

  .ForecastToday{
    @include Flex(center , center , row);
    width: auto!important;
    height: auto;

    box-sizing: border-box;


    .Time{
      @include Flex(center , center , row);
      width: 8rem;
      height: 4rem;
      border-radius: 100%;
      margin:0 1rem;
      font: {
        size: 18px;
        weight: 600;
      };
    }

    .Icon{

      img{
        width: 50px;
        height: 50px;
        opacity: 0.8;
      }
    }
  }

  .ParentPast {
    @include Flex(center, center, column);
    width: 100%;
    height: auto;
    transform: translateY(50px) !important;

    .Past {
      @include Flex(center, center, row);
      width: 100%;
      height: 10rem;
      overflow: {
        x: scroll;
        y: hidden;
      };
    }

    .ItemPast {
      @include Flex(center, center, column);
      width: auto;
      height: 8rem;
      margin: 0 .3rem!important;
      border-radius: 12px;

      .IconPast {
        width: 100%;
        height: 3.5rem;
        @include Flex(center, center, center);

        img {
          width: 58px;
          height: 58px;
          transform: translate(0px, 0px);
        }
      }
    }

    button{
      width: 40px!important;
      height: 40px!important;
      margin-top: .5rem;
      border-radius: 100%;
      cursor: pointer;
      outline: none;
      border: none;
      background: #ffffff;

      img{
        width: 25px!important;
        height: 25px!important;
        border-radius: 100px;
      }

    }
  }

  .NotFound{
    @include Centerin;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s;
    overflow: hidden;

    .Image404{
      width: 100%;
      height: auto;
      margin-top: 6rem;

      img{
        width: 100%;
        height: 262px;
        transform: scale(1.3);
      }
    }

    .Text404{
      @include Flex(center , center , column);
      width: 100%;
      height: auto;

      margin-top: 3rem;
    }
    p{
      color: #565656;
      text-align: center;
      font: {
        size: 18px;
      };
      margin: .5rem 0;
    }

    button{
      @include Flex(center , center , row);
      width: 40px;
      height: 40px;
      background: white;
      border: 3px solid #7dd0d7;
      outline: none;
      border-radius: 100%;
      cursor: pointer;
      img{
        width: 25px;
        height: 25px;
        border-radius: 100%;
      }
    }
  }

}





